body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: #162d47;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 2em;
}

.nav-link {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 2em;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #F0F0F0;
  flex: 1;
}

.react-component {
  background-color: salmon;
  width: 1em;
  height: 1em;
  border-radius: 100%;
}